@media (min-width:768px) {
    .sidebar {
        width: 14rem!important;
    }
}

.sidebar {
    width: 6.5rem;
    min-height: 100vh;
}

.bg-gradient-primary {
    background-color: #4e73df;
    background-image: linear-gradient(180deg,#4e73df 10%,#224abe);
    background-size: cover;
}

.p-0 {
    padding: 0!important;
  }

.align-items-start {
    align-items: flex-start!important;
}
  
.navbar, .navbar .container, .navbar .container-fluid, .navbar .container-lg, .navbar .container-md, .navbar .container-sm, .navbar .container-xl {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
.navbar {
    position: relative;
    padding: .5rem 1rem;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

.container-fluid {
    padding-left: 0rem;
    padding-right: 0rem;
}

  